body {
	background-color: #111111;
	font-family: Impact;
	color: #FFF;
}
#table {
	/*position: absolute;*/
	margin: auto;
	width: 1208px; /*1208*/
	background-color: #222222;
}
.titleborder {
	border: solid 0 #000;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 5px;
	border-bottom-width: 2.5px;
	padding-left: 0.5ex;
}
.middleborderbutton {
	border: solid 0 #000;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;
}
.middleborder {
	border: solid 0 #000;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;
	height: 458px;
}
.bottomborder {
	border: solid 0 #000;
	border-left-width: 5px;
	border-right-width: 5px;
	border-top-width: 2.5px;
	border-bottom-width: 5px;
	font-size: 18px;
	padding: 10px;
}
.titleright {
	text-align: right;
	padding-right: 10px;
}
.titletext {
	width: 300px;
	height: 30px;
}
.button {
	position: float;
	float: left;
    background-repeat: no-repeat;
    height: 52px;
    width: 20%; /*242.5*/
	background-image: url('../image/button.gif')
}
.buttontext {
    position: relative;
    height: 32px;
    width: 242px; /*242*/
	top: 20%;
	bottom: 0;
	font-size: 21px;
    text-align: center;
}
.feat {
	position: float;
	float: left;
    background-repeat: no-repeat;
    width: 33.3%; /*404/403*/
	height: 229px;
	background-size: 100%;
}
.featimg {
	z-index: 0;
	width: 100%; /*404/403*/
	height: 229px; 
}
.feattext {
    position: relative;
    width: 395px; /*396/98%*/
    height: 59px;
	margin-top: -15.5%;
    text-align: center;
	background: #000000;
	opacity: .80;
	font-size: 22px;
	padding: 4px;
}
.imgcate {
	position: float;
	float: left;
    background-repeat: no-repeat;
    width: 302px; /*303/302*/
    height: 153px;
	background-size: 100%;
}
.imgcateimg {
	z-index: 0;
	width: 100%; /*303/302*/
	height: 153px; 
}
.imgcatetext {
    position: relative;
    width: 294px; /*294*/
    height: 48px;
	margin-top: -18%; /*change*/
    text-align: center;
	background: #000000;
	opacity: .80;
	font-size: 16px;
	padding: 4px;
}
.catelist {
	border: solid 0 #000;
	border-left-width: 2.5px;
	border-right-width: 2.5px;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;
	position: float;
	float: left;
    height: 402px;
    width: 400px;
	background: #333333;
	font-size: 16px;
	overflow-y: auto;
}
.contact{
	border: solid 0 #000;
	border-left-width: 2.5px;
	border-right-width: 2.5px;
	border-top-width: 2.5px;
	border-bottom-width: 2.5px;
	position: float;
	float: left;
    height: 443px;
    width: 1199px;
	background: #333333;
	font-size: 16px;
	padding: 5px;
}
.loginbox {
	width: 300px;
	height: 20px;
}
.floatleft {
	position: float;
	float: left;
}
.floatright {
	/*position: float;*/
	float: right;
}
.error {
	text-align: center;
}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: underline;
}
img {
 	border-style: none;
}
.hostad {
	font-size: 12px;
    text-align: center;
}